.container-fluid.home
{
    overflow: hidden;
    background: #eef0f0;
    height: 100vh;
}

.container-fluid.home pre
{
    overflow: inherit;
    height: 80vh;
    margin-top: 10vh;
    background: #fefefe;
    border: none;
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.container-fluid.home pre label
{
    font-size: 20px;
}

@media screen and (max-width: 767px)
{
    .container-fluid.home pre
    {
        border: none;
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
}