.container-fluid.weather
{
    background: #eef0f0;
    width: 100vw;
    height: 100vh;
}

.weather .weather-card
{
    background: #2C2C2C;
    color: #fefefe;
    border: none;
    border-radius: 16px;
    margin: none;
    padding: none;
    margin-top: 10vh;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.weather-card .main-infos
{
    padding: 14px;
}

.weather-card .main-infos .town
{
    margin-top: 14px;
    font-size: 20px;
    font-weight: 600;
}

.weather-card .main-infos .weather-state
{
    font-size: 14px;
    margin-top: -2px;
    font-weight: 300;
}

.weather-card .main-infos .temperature
{
    font-size: 50px;
    margin-left: 6px;
}

.weather-card .delete-card,
.weather-card .more-infos
{
    border-radius: 16px;
    font-size: 18px;
    display: block;
    width: inherit;
    margin-right: 7px;
}

.weather-card .more-infos,
.weather-card .temperature-date
{
    margin-top: 28px;
    font-size: 10px;
}

.add-card .add
{
    color: #e2e2e2;
    font-size: 60px;
    padding: 67px;
    cursor: pointer;
}

.add-card .add:hover
{
    color: #b5b5b5;
}