body
{
    background: #eef0f0;
}

.container-fluid.weather
{
    width: 100vw;
    height: auto;
}

// Weather card
.weather .weather-card
{
    background: #2C2C2C;
    color: #fefefe;
    border: none;
    border-radius: 16px;
    margin: none;
    padding: none;
    margin-top: 10vh;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

// main infos
.weather-card .main-infos
{
    padding: 14px;
}

.weather-card .main-infos .town
{
    margin-top: 14px;
    font-size: 20px;
}

.weather-card .main-infos .weather-state
{
    font-size: 14px;
    margin-top: -2px;
}

.weather-card .main-infos .temperature
{
    font-size: 50px;
    margin-left: 6px;
}

.weather-card .delete-card,
.weather-card .more-infos
{
    border-radius: 16px;
    font-size: 18px;
    display: block;
    width: inherit;
    margin-right: 7px;
}

.weather-card .more-infos,
.weather-card .temperature-date
{
    margin-top: 28px;
    font-size: 10px;
}

.weather-card .temperature-date span span:nth-child(2)
{
    margin-left: 10px;
}

// Today's weather infos
.weather-card .today-weather
{
    border-top: 1px solid rgba(254, 254, 254, 0.3);
    padding: 14px;
    font-size: 12px;
}

.weather-card .today-weather .row
{
    margin-bottom: 6px;
}

.weather-card .today-weather .icons span img
{
    width: 30px;
    height: auto;
}

// More infos dropdown
.weather-card .arrow
{
    padding-top: 14px;
    margin-top: 14px;  
    font-size: 12px;
    cursor: pointer;
    border-top: 1px solid rgba(254, 254, 254, 0.3);
}

.weather-card .arrow .glyphicon
{
    margin-right: 6px;
}

.weather-card .arrow:hover {
    opacity: 0.8;
}

.weather-card .see-more
{
    padding: 0 0 14px 0;
    font-size: 12px;
}

.weather-card .see-more div
{
    margin-bottom: 4px;
}

// Add a weather card
.add-card .add
{
    color: #e2e2e2;
    font-size: 60px;
    padding: 143px 0;
    cursor: pointer;
}

.add-card .form-horizontal
{
    padding: 124px 0;
    color: #2C2C2C;
}

.add-card .add:hover
{
    color: #b5b5b5;
}